body {
  font-family: "Cinzel", serif;
}

h1 {
  color: black;
}

.container {
  display: block;
  padding: 20px;
  max-width: 600px;
  margin: 30px auto;
  border: 1px solid #174ab9;
  border-radius: 5px;
  background-image: url("../images/clouds.jpg");
  font-weight: bold;
}

small {
  display: block;
  max-width: 600px;
  margin: 30px auto;
  font-weight: bold;
}
